@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
} 

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .nav-link {
    @apply text-zinc-500 hover:text-zinc-800 transition-colors
  }

}

main {
  padding:20px;
}

h1 {
  font-size:24px;
  font-weight: bold;
  margin-bottom:24px;
}

.EasyMDEContainer .CodeMirror {
  font-size: 14px !important;
  line-height: 1.5;
}

button:hover {
  cursor: pointer;
}

table tr:last-child td {
  box-shadow: none !important;
}