@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
} 

body {
  padding: 2rem;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
